!!!
html
  head
    title node-webkit-mru
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/app.css")

  body
    .container-full#app-container
    footer

  script(src="js/app.js")

